body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 20px;
}

a {
  color: #4078c0;
}

.plain-table {
  border-collapse: collapse;

  th {
    font-weight: bold;
    text-align: left;
  }

  tr:hover td {
    background-color: #eee;
  }

  th, td {
    vertical-align: top;
  }

  th {
    padding: 0 0 10px 0;
  }

  td {
    padding: 10px 20px 10px 0;
  }
}

.mv1 {
  margin: 24px 0;
}

/*

Source: https://gist.github.com/christopheranderton/4c88326ab6a5604acc29

 .swatch-github-blue {
	background-color:#4078c0;
}
.swatch-github-green {
	background-color:#6cc644;
}
.swatch-github-red {
	background-color:#bd2c00;
}
.swatch-github-orange {
	background-color:#c9510c;
}
.swatch-github-purple {
	background-color:#6e5494;
}
 .swatch-github-gray-light {
	background-color:#999;
}
.swatch-github-gray {
	background-color:#767676;
}
.swatch-github-gray-dark {
	background-color:#333;
}

*/
